fastapi
uvicorn[standard]
livekit-api
livekit
aiortc
av
python-dotenv
websockets
deepgram-sdk
speechmatics-python
langchain>=1.2.0,<2.0.0
langchain-core>=1.2.0,<2.0.0
langgraph>=1.0.0,<2.0.0
langgraph-checkpoint>=3.0.0,<4.0.0
langchain_ollama
